body {
    background: linear-gradient(to bottom right, #ff3535, #650000);
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url('DALL·E 2023-03-22 11.19.15 - red cloth texture.png');
    background-size: cover;
    background-attachment: fixed;
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  p {
    color: white;
    text-align: justify;
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
    line-height: 1.5;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    max-height: 300px;
    border: 5px solid white;
    padding: 5px;
  }
  
  hr {
    border: 0;
    height: 1px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  pre {
    color: white;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
  }
  